<h1>New Rerelease</h1>

<dl>
  <dt>Original</dt>
  <dd>Title: <%= link_to rerelease.original.title, rerelease.original %></dd>
  <dd>Year: <%= rerelease.original.year %></dd>
</dl>

<%= render "errors", rerelease: rerelease %>

<%= form_for rerelease, url: movie_rereleases_path(rerelease.original), html: { class: "form" } do |f| %>
  <%= f.label :year, "Rerelease year" %>
  <%= f.text_field :year %>
  <br>
  <%= f.submit "Create Rerelease" %>
<% end %>
