<h1>All Movies</h1>
<% if current_member %>
  Logged in as <%= current_member.email %>
<% else %>
  <%= link_to "Log In", login_path %>
<% end %>
<dl>
  <% movies.each do |movie| %>
    <dt><%= movie.title %></dt>
    <dd>directed by <%= movie.director&.name %></dd>
  <% end %>
</dl>

<%= button_to "Add New Movie", new_movie_path, method: :get %>
