<h3><%= movie_title(movie) %></h3>
<h4><%= t('.directed_by') %> <%= movie.director&.name %></h4>
<% movie.stars.to_i.times do %>
  <%= image_tag 'rating/star.png', width: 20, height: 20, alt: :star, class: :star   %>
<% end %>


<%= button_to "Edit Movie", edit_movie_path(movie.id), method: :get %>
<%= button_to "Delete Movie", movie, method: :delete, data: { confirm: "Really delete?" } %>